body {
	background: rgba(54,163,214,1);
}
a:link, a:visited {
    background-color: #36A3CC;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1px;
}
a:hover, a:active {
	background-color: white;
	color: red;
}
.markdown-body {
  background: #ffffff;
}
.header {
	z-index: -1;
	background: #0096d6;
	height: 75px;
}
.header .logo {
	background: url(logo_hires.png);
    background-size: 78px 50px;
    background-repeat: no-repeat;
    height: 75px;
    background-position: 98%;
}
.markdown-body h1 {
	z-index:1;
	position: relative;
    top: -315px;
	left: -700px;
	color: #ffffff;
}
/* .markdown-body h1 {
	z-index:1;
	position: fixed;
    top: -300px;
	left: -300px;
	color: #ffffff;
} */