body {
    background: rgba(54,163,214,1);
}
/* For Directory Listing */
a:link, a:visited {
    background-color: #36A3CC;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1px;
}
a:hover, a:active {
    background-color: white;
    color: red;
}

/* For Slide Shows */
.markdown-body {
    background: #ffffff;
}
.header {
    z-index: -1;
    background: #0096d6;
    height: 75px;
}
.header .logo {
    background-size: 78px 50px;
    height: 75px;
    background: url(logo_hires.png) no-repeat 98%;
}
.markdown-body h2 {
    z-index:1;
    position: relative;
    top: -315px;
    left: -700px;
    color: #ffffff;
}